# Ignore Python compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environment
venv/
env/

# Ignore IDE and editor settings
.vscode/
.idea/
*.swp
*.swo

# Ignore system files
.DS_Store
Thumbs.db

# Ignore image dataset and test images
.photos/